name: "Portainer Monitor"
version: "1.2.1"
slug: "portainer-monitor-addon"
description: "Portainer addon to access Docker information and control containers via Portainer API"
url: "https://github.com/ChrSchu90/HomeAssistant.Addon.PortainerMonitor"
image: "ghcr.io/chrschu90/homeassistant-portainer-monitor-{arch}"
arch:
  - amd64
  - armv7
  - aarch64
init: false
discovery: 
    - "mqtt"
services:
    - "mqtt:want"
options:
  log_level: Information
  update_interval: 5
  portainer_configs: []
  agent_configs: []
schema:
  log_level: list(Verbose|Debug|Information|Warning|Error|Fatal)
  update_interval: int(1,120)
  mqtt_host: str?
  mqtt_port: int(1,65535)?
  mqtt_user: str?
  mqtt_password: password?
  mqtt_tls_enabled: bool?
  mqtt_tls_validate: bool?
  portainer_configs:
    - id: str
      display_name: str
      host: str
      port: int(1,65535)?
      token: str
      tls_enabled: bool?
      tls_validate: bool?
      container_commands: bool?
      container_state_monitoring: bool?
      container_cpu_monitoring: bool?
      container_ram_monitoring: bool?
      container_network_monitoring: bool?
  agent_configs:
    - id: str
      display_name: str
      host: str
      port: int(1,65535)?
      secret: str
      tls_enabled: bool?
      tls_validate: bool?
      container_commands: bool?
      container_state_monitoring: bool?
      container_cpu_monitoring: bool?
      container_ram_monitoring: bool?
      container_network_monitoring: bool?